.tituloSolucao{
    color: black;
}

.container3{
    background-color: rgb(255, 255, 255);
    text-align: justify;
    display: grid;
    place-items: center;
    height: 20vh;
    width: 60vh;
    margin-left: 20%;
    
    
}
.Solucao{
    text-align: justify;
    align-items: center;
    justify-content: center;
    font-size: 2vh;
    color: black;
    max-width: 80%;
    margin-left: 10%;
    margin-right: 10%;

}

.topics{
display: block;
margin-left: 10%;
margin-right: 10%;
max-width: 90%;
}
.pag1{

    margin-right: 20%;
    max-width: 100%;
    max-height: 100%;
    border-radius: 0 0 0 10px;
    background-color: #4AB1B8;
    color: black;
    text-align: center;
}

.title{
    color: black;
    text-align: center;
}
